<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student">
        <activity android:name=".main_activity" />
        <activity android:name=".scale0_activity" />
        <activity android:name=".scale1_activity" />
        <activity android:name=".scale2_activity" />
        <activity android:name=".scale3_activity" />
        <activity android:name=".scale4_activity" />
        <activity android:name=".scale5_activity" />
        <activity android:name=".scale6_activity" />
        <activity android:name=".scale7_activity" />
        <activity android:name=".scale8_activity" />
        <activity android:name=".scale9_activity" />
        <activity android:name=".scale10_activity" />
        <activity android:name=".diary_activity" />
        <activity android:name=".diary_activity2" />
        <activity android:name=".diary_activity3" />
        <activity android:name=".diary_activity4" />
        <activity android:name=".diary_activity5"/>
        <activity android:name=".diary_activity6"/>
        <activity android:name=".diary_activity7"/>
        <activity android:name=".diary_activity8"/>
        <activity android:name=".diary_activity9"/>
        <activity android:name=".diary_activity10"/>
        <activity android:name=".diary_activity11"/>
        <activity android:name=".logine_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mood_game_activity" />
        <activity android:name=".mood_ter_step1_activity" />
        <activity android:name=".mood_ter_step1_1_activity" />
        <activity android:name=".mood_ter_step1_2_activity" />
        <activity android:name=".mood_ter_step1_3_activity" />
        <activity android:name=".mood_ter_step1_4_activity" />
        <activity android:name=".mood_ter_step2_activity" />
        <activity android:name=".mood_ter_step3_activity" />
        <activity android:name=".mood_ter_step3_1_activity" />
        <activity android:name=".mood_ter_cool_activity" />
        <activity android:name=".mood_ter_cool_activity2" />
        <activity android:name=".mood_ter_cool_activity3" />
        <activity android:name=".mood_ter_cool_activity4" />
        <activity android:name=".mood_ter_step4_activity" />
        <activity android:name=".mood_ter_step4_1_activity" />
        <activity android:name=".mood_ter_step4_2_activity" />
        <activity android:name=".mood_ter_step4_3_activity" />
        <activity android:name=".mood_ter_step5_activity" />
        <activity android:name=".mood_ter_step5_1_activity" />
        <activity android:name=".mood_ter_step5_2_activity" />
        <activity android:name=".mood_ter_step5_3_activity" />
        <activity android:name=".mood_ter_step5_4_activity" />
        <activity android:name=".mood_ter_step5_5_activity" />
        <activity android:name=".mood_ter_step5_6_activity" />
        <activity android:name=".mood_ter_step6_activity" />
        <activity android:name=".mood_ter_step6_1_activity" />
        <activity android:name=".mood_ter_step7_activity" />
        <activity android:name=".explanation1_activity" />
        <activity android:name=".video_activity" />
        <activity android:name=".student_information_activity" />
    </application>

</manifest>