<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student">
        <activity android:name=".dirary_activity5"/>
        <activity android:name=".diary_activity4" />
        <activity android:name=".diary_activity3" />
        <activity android:name=".diary_activity2" />
        <activity android:name=".main_activity" />
        <activity android:name=".diary_activity" />
        <activity android:name=".logine_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registered_activity" />
        <activity android:name=".mood_game_activity" />
        <activity android:name=".mood_ter_activity" />
        <activity android:name=".mood_ter_activity2" />
        <activity android:name=".mood_ter_activity3" />
        <activity android:name=".mood_ter_activity4" />
        <activity android:name=".mood_ter_angry_activity" />
        <activity android:name=".mood_ter_angry_activity2" />
        <activity android:name=".student_information_activity" />
    </application>

</manifest>